footer .vuelta {
  display: none; }

.h1Index, .marcas .reels, .pagos {
  margin-top: 3rem; }

footer .vuelta {
  display: none; }

.h1Index, .marcas .reels, .pagos {
  margin-top: 3rem; }

footer .vuelta {
  display: none; }

.h1Index, .marcas .reels, .pagos {
  margin-top: 3rem; }

/*Main de pag. Productos*/
/*Medida de 320 a 600px*/
.h1productos {
  text-align: center;
  background-color: white; }

/*Medida de 600 a 1000px*/
@media screen and (min-width: 600px) {
  .campoGrande {
    height: 12rem;
    width: 25rem;
    border: none; } }

/*Medida de 1000px a Max*/
@media screen and (min-width: 1000px) {
  .productos {
    font-size: 2rem; } }

footer .vuelta {
  display: none; }

.h1Index, .marcas .reels, .pagos {
  margin-top: 3rem; }

/*Main de pag. Presupuesto*/
.tituloPresupuesto {
  text-align: center;
  margin: 2rem;
  background-color: white; }

.mainPresupuesto {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .mainPresupuesto .bordePresupuesto {
    margin: 1rem;
    padding: 1.5rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-style: solid;
    border-color: #000128;
    border-width: 0.2rem;
    border-radius: 4%;
    background-color: #9acfce; }
    .mainPresupuesto .bordePresupuesto .campo {
      padding: 0.8rem;
      border-radius: 1rem;
      border: none; }
    .mainPresupuesto .bordePresupuesto .campoGrande {
      height: 10rem;
      border-radius: 1rem;
      border: none; }
  .mainPresupuesto .imgPresupuesto {
    display: none; }

.presupuestoMensaje p {
  text-align: center; }

@media screen and (min-width: 600px) {
  .mainPresupuesto .bordePresupuesto .campoGrande {
    height: 12rem;
    width: 25rem; } }

@media screen and (min-width: 1000px) {
  .tituloPresupuesto {
    font-size: 2rem; }
  .mainPresupuesto .bordePresupuesto .campoGrande {
    width: 30rem; }
  .mainPresupuesto .imgPresupuesto {
    display: flex; }
  .presupuestoMensaje {
    margin: 2rem; }
    .presupuestoMensaje p {
      font-size: medium; } }

footer .vuelta {
  display: none; }

.h1Index, .marcas .reels, .pagos {
  margin-top: 3rem; }

/*Medida de 320 a 600px*/
/*Portada*/
.carrusel {
  display: flex;
  padding: 0.5rem; }

/*Main*/
.h1Index {
  text-align: center;
  font-size: 1.3rem;
  background-color: #5271ff;
  padding: 0.5rem; }

.columna {
  display: flex;
  gap: 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem; }

/*Marcas*/
.marcas h3 {
  font-size: 1.3rem;
  text-align: center;
  background-color: #5271ff;
  padding: 0.5rem; }

.marcas .slide {
  width: 20rem; }

.marcas .reels {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 3rem;
  flex-wrap: wrap; }
  .marcas .reels .marca {
    height: 5rem;
    width: 5rem; }

/*Formas de Pago*/
.pagos {
  display: grid;
  grid-template-areas: "titulo titulo" "img1 img1" "img2 img2" "boton boton";
  gap: 1rem;
  justify-items: center; }
  .pagos #h3Pagos {
    text-align: center;
    grid-area: titulo; }
  .pagos #formasPagos {
    grid-area: img1; }
    .pagos #formasPagos img {
      height: 6.5rem; }
  .pagos #pagoTarjeta {
    grid-area: img2; }
    .pagos #pagoTarjeta img {
      height: 8rem; }
  .pagos #consulta {
    display: flex;
    gap: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-area: boton; }
    .pagos #consulta .botonConsulta {
      width: 8rem;
      background-color: #000128;
      padding: 0.7rem;
      text-align: center;
      border-radius: 1rem;
      font-size: 1rem;
      font-weight: 600; }

/*-----------MEDIA QUARIES 600PX--------------*/
@media screen and (min-width: 600px) {
  .columna {
    padding-left: 10rem;
    padding-right: 10rem; }
  .marcas .slide {
    height: 7rem;
    width: 32rem; }
  .pagos {
    display: grid;
    grid-template-areas: "titulo titulo" "img1 img1" "img2 img2" "boton boton"; }
    .pagos #pagoTarjeta img {
      height: 14rem; }
    .pagos #formasPagos img {
      height: 12.5rem; } }

/*-----------MEDIA QUARIES 1000PX--------------*/
@media screen and (min-width: 1000px) {
  .carrusel {
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 2rem;
    padding-bottom: 5rem; }
  .mainIndex {
    display: flex;
    gap: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .mainIndex .h1Index {
      background-color: white;
      font-size: 2rem; }
    .mainIndex .columna {
      padding-left: 12rem;
      padding-right: 12rem; }
    .mainIndex .marcas h3 {
      background-color: white;
      font-size: 2rem; }
    .mainIndex .marcas .slide {
      width: 50rem; }
    .mainIndex .marcas .carousel {
      height: 10rem; }
      .mainIndex .marcas .carousel .carousel-inner .carousel-item img {
        height: 5rem; }
    .mainIndex .marcas .marca {
      height: 5rem;
      width: 8rem; }
    .mainIndex .pagos {
      display: grid;
      grid-template-areas: "titulo titulo titulo" "img 1 img1 img1" "img2 img2 img2" "texto boton boton"; }
      .mainIndex .pagos #ulPagos {
        font-size: 1rem;
        font-weight: 500; }
      .mainIndex .pagos #formasPagos {
        grid-area: img1; } }

footer .vuelta {
  display: none; }

.h1Index, .marcas .reels, .pagos {
  margin-top: 3rem; }

.mainNosotros {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: justify;
  margin: 1rem; }
  .mainNosotros .h1Nosotros, .mainNosotros h3 {
    font-size: 1.5rem;
    text-align: center; }
  .mainNosotros .nosotros {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: justify;
    color: #ffffff;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #5271ff; }
    .mainNosotros .nosotros p {
      text-align: justify; }
  .mainNosotros .mision, .mainNosotros .vision {
    color: #ffffff;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: justify;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #5271ff; }
    .mainNosotros .mision p, .mainNosotros .vision p {
      text-align: justify; }

@media screen and (min-width: 600px) {
  .mainNosotros {
    margin-left: 7rem;
    margin-right: 7rem; }
    .mainNosotros h3 {
      font-size: 1.5rem; } }

@media screen and (min-width: 1000px) {
  .h1Nosotros, h3 {
    font-size: 3rem; }
  .mainNosotros {
    display: grid;
    grid-template-areas: "nosotros nosotros" "mision vision";
    gap: 4rem; }
  .nosotros {
    grid-area: nosotros; }
  .vision {
    grid-area: vision; }
  .mision {
    grid-area: mision; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  color: white;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: small; }

nav {
  margin: 0;
  padding: 0;
  margin-left: 0.5rem; }
  nav .navbar-brand {
    height: 5rem;
    margin: 1rem; }
    nav .navbar-brand img {
      height: 5rem; }
  nav .navbar-toggler {
    position: relative;
    right: 1rem; }
  nav .nav-link {
    color: #ffffff; }
  nav .submenu {
    background-color: #000128;
    position: relative;
    flex-wrap: wrap; }
    nav .submenu li {
      text-align: center;
      list-style: none; }

.subtitulo {
  font-size: 1.2rem;
  text-align: center; }

footer {
  text-align: center;
  background-color: #000128;
  background-image: linear-gradient(320deg, #000128 10%, #090f3b 33%, #5271ff 66%, #8288a0 100%);
  color: #ffffff;
  padding: 0.5rem;
  margin-top: 3rem; }
  footer .botonWhatsapp {
    width: 2rem;
    display: flex;
    position: fixed;
    bottom: 0.9rem;
    right: 0.4rem; }
    footer .botonWhatsapp img {
      height: 2rem; }
  footer .menuRedes {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    padding: 1rem;
    text-align: justify; }
  footer .redes {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    footer .redes h5 {
      width: 11rem;
      margin-bottom: 0.5rem;
      text-align: left;
      font-size: small; }
    footer .redes img {
      width: 2rem;
      margin-bottom: 0.5rem; }
  footer .derechos {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    display: block;
    text-align: center;
    padding-top: 1rem;
    font-size: x-small; }

@media screen and (min-width: 600px) {
  navbar-nav {
    gap: 2rem; }
  nav .submenu {
    justify-content: space-evenly; }
    nav .submenu li {
      left: 9rem; }
  footer .menuRedes {
    justify-content: center;
    gap: 3rem; }
  footer .vuelta {
    display: flex;
    position: fixed;
    bottom: 1rem;
    left: 1rem; }
    footer .vuelta img {
      height: 2.5rem; }
  footer .botonWhatsapp {
    bottom: 1.1rem;
    right: 1rem; }
    footer .botonWhatsapp img {
      height: 2.5rem; } }

@media screen and (min-width: 1000px) {
  nav {
    gap: 7rem; }
    nav .navbar-brand {
      height: 8rem;
      width: 20rem; }
      nav .navbar-brand img {
        height: 8rem;
        width: 20rem; }
    nav .submenu {
      background-color: #ffffff;
      gap: 3rem;
      justify-content: space-evenly; }
      nav .submenu li {
        border-radius: 1rem;
        background-color: #000128;
        padding: 0.3rem; }
  footer {
    padding: 2rem; }
    footer .menuRedes {
      justify-content: center;
      gap: 5rem; }
    footer .botonWhatsapp, footer .vuelta {
      right: 2rem; }
      footer .botonWhatsapp img, footer .vuelta img {
        height: 3.8rem;
        width: 3.8rem; }
    footer h5 {
      font-size: medium; } }
