.mainNosotros {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem; }
  .mainNosotros h3 {
    font-size: medium;
    text-align: center; }
  .mainNosotros .nosotros {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    justify-content: center;
    padding: 1rem;
    text-align: justify;
    gap: 2rem;
    border-radius: 1rem;
    background-color: #476d9c; }
  .mainNosotros .mision, .mainNosotros .vision {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    text-align: justify;
    gap: 2rem;
    border-radius: 1rem;
    background-color: #476d9c; }

@media screen and (min-width: 600px) {
  .mainNosotros {
    margin-left: 7rem;
    margin-right: 7rem; }
    .mainNosotros h3 {
      font-size: 1.5rem; } }

@media screen and (min-width: 1024px) {
  h3 {
    font-size: 3rem; }
  .mainNosotros {
    display: grid;
    grid-template-areas: "nosotros nosotros" "mision vision";
    gap: 4rem;
    padding: 4rem; }
  .nosotros {
    grid-area: nosotros; }
  .vision {
    grid-area: vision; }
  .mision {
    grid-area: mision; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  color: white;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: small; }

p {
  font-size: 0.8rem;
  text-align: justify; }

header {
  height: 5rem;
  margin-bottom: 2rem;
  display: inline-block; }
  header img {
    height: 5rem;
    margin: 0.5rem; }
  header .informacion {
    display: none; }
  header .whatsapp {
    display: none; }

nav {
  width: 15rem;
  margin: 0;
  padding: 0;
  margin-left: 1rem; }
  nav .nav-link {
    color: white; }
  nav .submenu li {
    margin: 0.5rem;
    background-color: #000128;
    border-radius: 1rem;
    text-align: center;
    list-style: none;
    width: 12rem;
    position: relative;
    left: 3rem; }

.subtitulo {
  font-size: 1.2rem;
  text-align: center; }

footer {
  text-align: center;
  background-color: #000128;
  background-image: linear-gradient(320deg, #000128 10%, #090f3b 33%, #476d9c 66%, #8288a0 100%);
  color: white;
  padding: 0.5rem;
  margin-top: 3rem; }
  footer .botonWhatsapp {
    position: fixed;
    bottom: 0.9rem;
    right: 1.2rem; }
    footer .botonWhatsapp img {
      height: 3rem; }
  footer .vuelta {
    display: none; }
  footer .menuRedes {
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    text-align: justify; }
  footer .redes {
    width: 15rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    footer .redes h5 {
      width: 11rem;
      margin-bottom: 0.5rem;
      text-align: left;
      font-size: small; }
    footer .redes img {
      width: 2rem;
      margin-bottom: 0.5rem; }
  footer .derechos {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    display: block;
    text-align: center;
    padding-top: 1rem;
    font-size: x-small; }

@media screen and (min-width: 600px) {
  p {
    font-size: medium; }
  header {
    display: flex;
    height: 8rem;
    justify-content: space-evenly;
    text-align: center; }
    header img {
      height: 5.8rem; }
    header h1 {
      font-family: "Montserrat", sans-serif;
      align-items: center;
      font-size: small; }
    header h2 {
      font-size: small; }
    header .informacion {
      margin-top: 2rem;
      display: flex;
      flex-flow: column wrap;
      font-family: "Montserrat", sans-serif;
      align-items: center;
      justify-content: center;
      font-size: small; }
    header .horario {
      text-decoration: underline; }
  navbar-nav {
    gap: 2rem; }
  nav .submenu {
    justify-content: space-evenly; }
    nav .submenu li {
      left: 9rem; }
  footer .vuelta {
    display: block;
    height: 3rem;
    position: fixed;
    bottom: 1rem;
    left: 1rem; } }

@media screen and (min-width: 1024px) {
  header {
    gap: 9rem;
    justify-content: space-evenly; }
    header img {
      height: 9rem; }
    header h1, header h2 {
      font-size: medium; }
    header .whatsapp {
      display: flex;
      justify-content: center;
      align-items: end; }
  nav .submenu {
    width: 60rem;
    justify-content: space-evenly; }
    nav .submenu li {
      left: 0; }
  footer {
    padding: 2rem; }
    footer .botonWhatsapp img {
      height: 4rem; }
    footer h5 {
      font-size: medium; } }
