//Partials
@import "utilities/variables";
@import "utilities/mixin";
@import "utilities/extend";
@import "utilities/mainHacemos";
@import "utilities/mainProductos";
@import "utilities/mainPresupuesto";
@import "utilities/mainIndex";
@import "utilities/mainNosotros";

//Codigo general a todos los HTML
*{
    @include reset;
    box-sizing: border-box;
}
a{
    color: white;
   text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
}
header{
    img{
        
        @extend %desaparecer;
    }
    .informacion{
        @extend %desaparecer;
    }
    .whatsapp{
        @extend %desaparecer;
    }
}
nav{
    @include reset;
    margin-left: 0.5rem;
    .navbar-brand{
        height: 5rem;
        margin: 1rem;
        img{
            height: 5rem;
        }
    }
    .navbar-toggler{
        position: relative;
        right: 1rem;
    }
    .nav-link{
        color: $colorLetra;
    }
   .submenu{
        background-color: $colorPrincipal;
        position: relative;
        flex-wrap: wrap;
        li{
            text-align: center;
            list-style: none;
        }
   }
}
.subtitulo{
    font-size: 1.2rem;
    text-align: center;
}
footer{
    text-align: center;
    background-color: $colorPrincipal;
    background-image: linear-gradient(320deg, $colorPrincipal 10%, $colorBotones 33%, $colorSecundario 66%, #8288a0 100%);
    color: $colorLetra;
    padding: 0.5rem;
    margin-top: 3rem;
    .botonWhatsapp{
        width: 4rem;
        display: flex;
        position: fixed;
        bottom: 0.9rem;
        right: 1.2rem;
        img{
            height: 3rem;
        }
    }
    .vuelta{
        @extend %desaparecer;
    }
    .menuRedes{
        list-style: none;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem;
        text-align: justify;
    }
    .redes{
        width: 15rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        h5{
            width: 11rem;
            margin-bottom: 0.5rem;
            text-align: left;
            font-size: small;
        }
        img{
            width: 2rem;
            margin-bottom: 0.5rem;
        }
    }
    .derechos{
        font-family: $fuenteInformacion;
        font-weight: lighter;
        display: block;
        text-align: center;
        padding-top: 1rem;
        font-size:x-small;
    }
}
@media screen and (min-width: 600px) {
    navbar-nav{
        gap: 2rem;
    }
    nav{
        .submenu{
            justify-content: space-evenly;
            li{
                left: 9rem;
            }
        }
    }
    footer{
        .vuelta{
            display: flex;
            height: 3rem;
            position: fixed;
            bottom: 1rem;
            left: 1rem;
        }
    }
}
@media screen and (min-width: 1000px){
    header{
        margin: 0.5rem;
        display: flex;
        height: 8rem;
        text-align: center;
        gap: 9rem;
        justify-content: space-between;
        img{
            display: flex;
            height: 9rem;
        }
        h2{
            color: $colorTerciario;
            font-family: $fuentePrincipal;
            align-items: center;
            font-size: 1.14rem;
            font-weight: 600;
        }
        h3{
            font-size: medium;

        }
        .informacion{
            height: 10rem;
            @include flex(0, center, center, column);
            font-family: $fuentePrincipal;
        }
        .horario{
            text-decoration: underline; 
        }
        .whatsapp{
            @include flex(0, center, end, column);
            position: relative;
            top: 1rem;
            right: 1rem;
        }
    }
    nav{
        .navbar-brand{
            img{
                display: none;
            }
        }
        .submenu{
            background-color: #ffffff;
            width: 50rem;
            justify-content: space-evenly;
            li{
               border-radius: 1rem;
               background-color: $colorPrincipal;
               padding: 0.3rem;
            }
        }
    }
    footer{
        padding: 2rem;
        .botonWhatsapp img{
            height: 4rem;
        }
        h5{
            font-size: medium;
        }
    }
}