//Partials
@import "utilities/variables";
@import "utilities/mixin";
@import "utilities/extend";
@import "utilities/mainIndex";
@import "utilities/mainNosotros";
@import "utilities/mainComprar";
@import "utilities/mainProductos";
@import "utilities/mainPresupuesto";

//Codigo general a todos los HTML
/*Encabezado*/
*{
    @include reset;
    box-sizing: border-box;
    font-family: $fuentePrincipal;
}
a{
    color: white;
    text-decoration: none;
    font-size: $fuenteTamano320;
}
nav{
    @include reset;
    margin-left: 0.5rem;
    .navbar-brand{
        height: 5rem;
        margin: 1rem;
        img{
            height: 5rem;
        }
    }
    .navbar-toggler{
        position: relative;
        right: 1rem;
    }
    .nav-link{
        color: $colorLetra;
    }
   .submenu{
        background-color: $colorPrincipal;
        position: relative;
        flex-wrap: wrap;
        li{
            text-align: center;
            list-style: none;
        }
   }
}
.subtitulo{
    font-size: $fuenteTamano320;
    text-align: center;
}
/*Pie de Pagina*/
footer{
    text-align: center;
    background-color: $colorPrincipal;
    background-image: linear-gradient(320deg, $colorPrincipal 10%, $colorBotones 33%, $colorSecundario 66%, #8288a0 100%);
    color: $colorLetra;
    padding: 0.5rem;
    margin-top: 3rem;
    .botonWhatsapp{
        width: 2rem;
        display: flex;
        position: fixed;
        bottom: 0.9rem;
        right: 0.4rem;
        img{
            height: 2rem;
        }
    }
    .vuelta{
        @extend %desaparecer;
    }
    .menuRedes{
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 2rem;
        align-items: center;
        padding: 1rem;
        text-align: justify;
    }
    .redes{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        img{
            width: 2rem;
            margin-bottom: 0.5rem;
        }
    }
    .derechos{
        font-weight: lighter;
        display: block;
        text-align: center;
        padding-top: 1rem;
        font-size: 0.8rem;
    }
}
/*-------------Medida a partir de los 600px-------------*/
@media screen and (min-width: 600px) {
    navbar-nav{
        gap: 2rem;
    }
    nav{
        .submenu{
            justify-content: space-evenly;
        }
    }
    footer{
        .menuRedes{
            justify-content: center;
            gap: 3rem;
        }
        .vuelta{
            display: flex;
            position: fixed;
            bottom: 1rem;
            left: 1rem;
            img{
                height: 2.5rem;
            }
        }
        .botonWhatsapp{
            bottom: 1.1rem;
            right: 1rem;
            img{
                height: 2.8rem;
            }
        }
    }
}
/*------------Medida a partir de los 1000px--------------*/
@media screen and (min-width: 1000px){
    nav{
        gap: 7rem;
        .navbar-brand{
            height: 8rem;
            width: 20rem;
            img{
                height: 8rem;
                width: 20rem;
            }
        }
        .submenu{
            font-size: ($fuenteTamano320 - 0.2rem);
            background-color: #ffffff;
            gap: 3rem;
            justify-content: space-evenly;
            li{
               border-radius: 1rem;
               background-color: $colorPrincipal;
               padding: 0.3rem;
            }
        }
    }
    footer{
        padding: 2rem;
        .menuRedes{
            justify-content: center;
            gap: 5rem;
        }
        .botonWhatsapp, .vuelta {
            right: 2rem;
            img{
                height: 3.5rem;
                width: 3.5rem;
            }
        } 
        .derechos{
            font-size: ($fuenteTamano320 - 0.3rem);
        }
    }
}