@import "variables";

//Extend

%botones{
    border-radius: 1rem;
    background-color: $colorPrincipal;
    padding: 0.5rem;
    margin: 1rem;
    color: $colorLetra;
    box-shadow: 1px 1px grey;
}

%desaparecer{
    display: none;
}

%justificado{
    text-align: justify;
    padding: 0.5rem;
}

%separacionSuperior{
    margin-top: 3rem;
}

%sinEstilo{
    list-style: none;
    text-decoration: none;
}

%parrafo1000px{
    font-size: $fuenteTamano320;
    padding: 1.5rem;
    padding-left: 12rem;
    padding-right: 12rem;
}