@import "utilities/variables";
@import "utilities/mixin";
@import "utilities/extend";

//Main pag. Nosotros

.mainNosotros{
    @include flex(2rem, center, justify, column);
    margin: 2rem;
    h3{
        font-size: medium;
        text-align: center;
    }
    .nosotros{
        @include flex(2rem, center, justify, column);
        color: $colorLetra;
        padding: 1rem;
        border-radius: 1rem;
        background-color: $colorSecundario;
    }
    .mision, .vision{
        color: $colorLetra;
        @include flex(2rem, center, justify, column);
        padding: 1rem;
        border-radius: 1rem;
        background-color: $colorSecundario;
    }
}

@media screen and (min-width: 600px){
    .mainNosotros{
      margin-left: 7rem;
      margin-right: 7rem;
      h3{
        font-size: 1.5rem;
      }
    }
}

@media screen and (min-width: 1024px){

    h3{
        font-size: 3rem;
    }
    .mainNosotros{
        display: grid;
        grid-template-areas:"nosotros nosotros"
                            "mision vision";
        gap: 4rem;
        padding: 4rem;
    }
    .nosotros{
        grid-area: nosotros;
    }
    .vision{
        grid-area: vision;
    }
    .mision{
        grid-area: mision;
    }
}