@import "utilities/variables";
@import "utilities/mixin";
@import "utilities/extend";

//Main pag. Nosotros
/*Main de pag. Nosotros*/
.mainNosotros{
    @include flex(2rem, center, justify, column);
    margin: 1rem;
    text-align: center;
    .h1Nosotros{
        font-size: ($fuenteTamano320 + 0.3rem);
    }
    .titulo{
        font-size: $fuenteTamano320;
        text-align: center;
    }
    .nosotros{
        @include flex(1rem, center, justify, column);
    }
    .nosotros, .mision, .vision{
        color: $colorLetra;
        padding: 1rem;
        border-radius: 1rem;
        background-color: $colorSecundario;
        p{
            text-align: justify;
        }
    }
    .mision, .vision{
        @include flex(1.5rem, space-evenly, justify, column);
    }
}
@media screen and (min-width: 600px){
    .mainNosotros{
        margin-left: 7rem;
        margin-right: 7rem;
        .h1Nosotros{
            font-size: ($fuenteTamano600 +0.3rem);
        }
        .titulo{
            font-size: $fuenteTamano600;
        }
        .nosotros, .mision, .vision{
             p{
                 font-size: ($fuenteTamano320 - 0.3rem);
             }
         }
    }
}

@media screen and (min-width: 1000px){
    .mainNosotros{
        display: grid;
        grid-template-areas:"nosotros nosotros"
                            "mision vision";
        gap: 4rem;
        .h1Nosotros{
            font-size: ($fuenteTamano1000 + 0.3rem);
        }
        .titulo{
            font-size: $fuenteTamano1000;
        }
    }
    .nosotros{
        grid-area: nosotros;
    }
    .vision{
        grid-area: vision;
        
    }
    .mision{
        grid-area: mision;
    }
    .nosotros, .mision, .vision{
       margin: 2rem;
        p{
            font-size: ($fuenteTamano320 - 0.2rem);
        }
    }
}