@import "utilities/variables";
@import "utilities/mixin";
@import "utilities/extend";

/*Main de pag. Productos*/

/*Medida de 320 a 600px*/
.submenuProducto{
    @extend %desaparecer;
}

/*Medida de 600 a 1000px*/
@media screen and (min-width: 600px) {
    .campoGrande{
        height: 12rem;
        width: 25rem;
        border: none;
    }
}

/*Medida de 1000px a Max*/
@media screen and (min-width: 1000px) {
    .submenuProducto{
        @include flex(1rem, center, center, column)
    }
}