@import "utilities/variables";
@import "utilities/mixin";
@import "utilities/extend";
/*Main de pag. Presupuesto*/
.tituloPresupuesto{
    text-align: center;
    margin: 2rem;
    font-size: ($fuenteTamano320 + 0.3rem);
}
.mainPresupuesto{
    @include flex(1rem, center, center, row);
    text-align: center;
    .bordePresupuesto{
        margin: 1rem;
        padding: 1.5rem;
        @include flex(2rem, space-between,center,  column);
        flex-wrap: wrap;
        border-style: solid;
        border-color: $colorPrincipal;
        border-width: 0.2rem;
        border-radius: 4%;
        background-color: $colorTerciario;
        .campo{
            padding: 0.8rem;
            border-radius: 1rem;
            border: none;
        }
        .campoGrande{
            height: 10rem;
            border-radius: 1rem;
            border: none;
        }
    }
    .imgPresupuesto{
        display: none;
    }
}
.presupuestoMensaje{
    margin: 1rem;
    font-size: ($fuenteTamano320 - 0.5rem);
    text-align: center;
}
@media screen and (min-width: 600px){
    .tituloPresupuesto{
        font-size: ($fuenteTamano600 + 0.3rem);
    }
    .mainPresupuesto{
        .bordePresupuesto{
            .campoGrande{
                height: 12rem;
                width: 25rem;
            }
        }
    }
    .presupuestoMensaje{
        font-size: ($fuenteTamano600 - 0.8rem);
    }
}
@media screen and (min-width: 1000px){
    .tituloPresupuesto{
        font-size: ($fuenteTamano1000 +0.3rem);
    }
    .mainPresupuesto{
        .bordePresupuesto{
            .campoGrande{
                width: 30rem;
            }
        }
        .imgPresupuesto{
            display: flex;
            height: 26rem;
        }
    }
    .presupuestoMensaje{
        margin: 2rem;
        font-size: ($fuenteTamano1000 - 0.8rem);
    }
}