@import "utilities/variables";
@import "utilities/mixin";
@import "utilities/extend";

.mainHacemos{
    @include flex(2rem,center,center,column);
    .tituloComprar{
        text-align: center;
        font-size: ($fuenteTamano320 + 0.3rem);
    }
    .parrafoComprar{
        text-align: justify;
        padding: 1.5rem;
    }
    .pasosCompra{
        @include flex(1rem, center, center, row);
        display: flex;
        flex-wrap: wrap;
        .imgCompra{
            height: 15rem;
            border-radius: 1rem;
        }
    }
}
.parrafoCompras{
    @extend %separacionSuperior;
    .tituloMayoristas{
        text-align: center;
        font-size: $fuenteTamano320;
    }
    .parrafoComprar2{
        text-align: justify;
        padding: 1.5rem;
    }
}

@media screen and (min-width: 600px){
    .mainHacemos{
        .tituloComprar{
            font-size: ($fuenteTamano600 + 0.3rem);
        }
        .parrafoComprar{
            padding: 3rem;
        }
       .pasosCompra{
        .imgCompra{
            height: 18rem;
        }
       }
    }
    .parrafoCompras{
        .tituloMayoristas{
            font-size: $fuenteTamano600;
        }
        .parrafoComprar2{
            padding: 3rem;
        }
    }
    
}
@media screen and (min-width: 1000px){
    .mainHacemos{
        .tituloComprar{
            font-size: ($fuenteTamano1000 + 0.3rem);
        }
        .parrafoComprar{
            font-size: ($fuenteTamano320 - 0.2rem);
            padding: 1.5rem;
            padding-left: 16rem;
            padding-right: 16rem;
        }
    }
    .parrafoCompras{
        .tituloMayoristas{
            font-size: $fuenteTamano1000;
        }
        .parrafoComprar2{
            font-size:  ($fuenteTamano320 - 0.2rem);
            padding: 1.5rem;
            padding-left: 16rem;
            padding-right: 16rem;
        }
    }
}