@import "utilities/variables";
@import "utilities/mixin";
@import "utilities/extend";

//Main pag. Index
/*Main Index de 320 a 600px*/
/*Portada*/
.carrusel{
   display: flex;
   padding: 0.5rem;
}
/*Main*/
.mainIndex{
    @include flex(3rem, center, center, column);
    .h1Index{
        @extend %separacionSuperior;
        text-align: center;
        font-size: ($fuenteTamano320 + 0.3rem);
        padding: 0.5rem;
    }
    .columna{
        @include flex(0rem, center, center, column);
        padding-left: 4rem;
        padding-right: 4rem;
    }
    /*Marcas*/
    .marcas{
        @include flex(0rem, center, center, column);
        h2{
            font-size: $fuenteTamano320;
            text-align: center;
            padding: 0.5rem;
        }
        .slide{
            width: 20rem;
            padding: 0.5rem;
        }
        .reels{
            @extend %separacionSuperior;
            @include flex(1rem, center, center, row);
            height: 3rem;
            flex-wrap: wrap;
            .marca{
                height: 5rem;
                width: 5rem;
            }
        }
    }
    /*Formas de Pago*/
    .pagos{
        display: grid;
        grid-template-areas:"titulo titulo"
                            "img1 img1"
                            "img2 img2"
                            "boton boton";
        @extend %separacionSuperior;
        gap: 1rem;
        justify-items: center;
        #h2Pagos{
            text-align: center;
            grid-area: titulo;
        }
        #formasPagos{
            grid-area: img1;
            img{
                height: 6.5rem;
            }
        }
        #pagoTarjeta{
            grid-area: img2;
            img{
                height: 8rem;
            }
        }
        #consulta{
            @include flex(0, center, center, row);
            grid-area: boton;
            .botonConsulta{
                width: 8rem;
                background-color: $colorPrincipal;
                padding: 0.7rem;
                text-align: center;
                border-radius: 1rem;
                font-size: ($fuenteTamano320 - 0.4rem);
                font-weight: 600;
            }
        }
        
    }
}
/*-----------INDEX MEDIA QUARIES 600PX--------------*/

@media screen and (min-width: 600px){
    .mainIndex{
        .h1Index{
            font-size: ($fuenteTamano600 + 0.3rem);
        }
        .columna{
            padding-left: 10rem;
            padding-right: 10rem;
        }
        .marcas{
            h2{
                font-size: $fuenteTamano600; 
            }
            font-size: 1.3rem; 
            .reels{
                height: 8rem;
                width: 32rem;
            }
        }
        .pagos{
            display: grid;
            grid-template-areas:"titulo titulo"
                                "img1 img1"
                                "img2 img2"
                                "boton boton";
            #h2Pagos{
                font-size: $fuenteTamano600;
            }
            #pagoTarjeta{
                img{
                    height: 14rem;
                }
            }
            #formasPagos{
                img{
                    height: 12.5rem;
                }
            }
        }
    }
}
/*-----------MEDIA QUARIES 1000PX--------------*/
@media screen and (min-width: 1000px){
    .carrusel{
        padding-left: 10rem;
        padding-right: 10rem;
        padding-top: 2rem;
        padding-bottom: 5rem;
    }
    .mainIndex{
        .h1Index{
            background-color: white;
            font-size: ($fuenteTamano1000 + 0.3rem);
        }
        .columna{
            padding-left: 12rem;
            padding-right: 12rem;
        }
        .marcas{
            h2{
                background-color: white;
                font-size: $fuenteTamano1000;
            }
            .slide{
                width: 50rem;
            }
            .carousel{
                height: 10rem;
                .carousel-inner{
                    .carousel-item{
                        img{
                            height: 5rem;
                        }
                    }
                }
            }
            .marca{
                height: 5rem;
                width: 8rem;
            }
        }
        .pagos{
            display: grid;
            grid-template-areas:"titulo titulo titulo"
                                "img2 img2 img1"
                                "img2 img2 img1"
                                "img2 img2 boton"
                                "img2 img2 boton";
        }
    }
}