//Colores
$colorPrincipal: #000128;
$colorSecundario: #476d9c;
$colorTerciario: #9acfce;
$colorBotones: #090f3b;
$colorBotonSecundario: rgb(230, 204, 62);
$colorLetra: #ffffff;
//Letras
$fuentePrincipal: 'Montserrat', sans-serif;
$fuenteSecundaria: 'Bebas Neue', cursive;
$fuenteInformacion: Verdana, Geneva, Tahoma, sans-serif;
